@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  background: #f6f7f8;
  font-family: "Manrope", sans-serif;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #0f2d3e;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #0c1f2b;
}
.custom-font-family {
  font-family: "Manrope", sans-serif;
}
/* Tùy chỉnh thanh cuộn của Ant Design Table */
.custom-table .ant-table-body::-webkit-scrollbar {
  width: 6px; /* Độ rộng thanh cuộn */
}

.custom-table .ant-table-body::-webkit-scrollbar-track {
  background: #f1f1f1; /* Màu nền */
  border-radius: 3px;
}

.custom-table .ant-table-body::-webkit-scrollbar-thumb {
  background: #0f2d3e; /* Màu thanh kéo */
  border-radius: 3px;
}

.custom-table .ant-table-body::-webkit-scrollbar-thumb:hover {
  background: #0c1f2b; /* Màu khi hover */
}

/* Hỗ trợ Firefox */
.custom-table .ant-table-body {
  scrollbar-width: thin;
  scrollbar-color: #0f2d3e #f1f1f1;
}
