@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background: #f6f7f8;
  font-family: "Manrope", sans-serif;
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #0f2d3e;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #0c1f2b;
}

.custom-font-family {
  font-family: "Manrope", sans-serif;
}

/* Customize the scrollbar for Ant Design Table */
.custom-table .ant-table-body::-webkit-scrollbar {
  width: 6px; /* Scrollbar width */
}

.custom-table .ant-table-body::-webkit-scrollbar-track {
  background: #f1f1f1; /* Scrollbar track color */
  border-radius: 3px;
}

.custom-table .ant-table-body::-webkit-scrollbar-thumb {
  background: #0f2d3e; /* Scrollbar thumb color */
  border-radius: 3px;
}

.custom-table .ant-table-body::-webkit-scrollbar-thumb:hover {
  background: #0c1f2b; /* Scrollbar thumb hover color */
}

/* Firefox scrollbar support */
.custom-table .ant-table-body {
  scrollbar-width: thin;
  scrollbar-color: #0f2d3e #f1f1f1;
}

/* Table cell styles */
.ant-table-cell {
  padding: 10px !important;
  text-align: start !important;
  padding-left: 15px !important;
}

.ant-table-thead .ant-table-cell {
  padding: 15px !important;
  text-align: start !important;
  font-weight: bold !important;
}

/* Add rounded corners to the first column of the table header */
.ant-table-thead .ant-table-cell:first-child {
  border-top-left-radius: 24px !important;
  border-bottom-left-radius: 24px !important;
}

/* Add rounded corners to the last column of the table header */
.ant-table-thead .ant-table-cell:nth-last-child(2) {
  border-top-right-radius: 24px !important;
  border-bottom-right-radius: 24px !important;
}

/* Hide extra scrollbar space */
.custom-table .ant-table-cell-scrollbar {
  display: none !important;
}

/* Ensure scrollbar is positioned inside the last column */
.custom-table .ant-table-body {
  overflow-y: auto !important;
}

/* Prevent table from shifting */
.custom-table-container {
  overflow: hidden !important;
}

.custom-scrollbar {
  padding-right: 10px;
}

/* Adjust list item padding */
:where(.css-dev-only-do-not-override-1v613y0).ant-list .ant-list-item {
  padding: 12px !important;
}

/* Remove bottom border for the table header in TableDiagnostic */
.custom-table .ant-table-thead > tr > th {
  border-bottom: none !important;
}

/* Remove right border for the table header in TableDiagnostic */
.custom-table .ant-table-thead th,
.custom-table .ant-table-tbody td {
  border-right: none !important;
}
